.users-list-page {
  margin-top: 2rem;
  height: 200px;
  display: flex;
  flex-direction: row;
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  table {
    width: 100%;
  }

  .users-list {
    width: 100%;
    cursor: default;

    .username {
      width: 40%;
      cursor: default;
    }

    .role {
      width: 30%;
      cursor: default;
    }
  }
}
