.username-input {
  margin-right: 1rem;
}

.password-input {
  margin-right: 1rem;
}

.sign-in {
  cursor: pointer;
  background: none;
  color: white;
  border: none;
}

.disabled {
  cursor: default;
  color: gray;
}
