.left-panel {
}

.right-panel {
}

.users-list-area {
  margin-top: 2rem;

  .controls {
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
  }

  .users-list {
    min-height: 200px;
  }
}


